
set scrolloff=10
set linenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set clipboard+=unnamed

let mapleader = " "

set surround
set highlightedyank
set easymotion
set notimeout
set which-key
let g:WhichKey_FontSize = 16

map <leader>sf <action>(GotoFile)
map <leader>ff <action>(ReformatCode)
map <leader>rr <action>(RenameElement)
map <A-tab> <action>(PreviousTab)
map <A-w> <action>(NextTab)
map <A-q> <action>(CloseEditor)
noremap U <C-r>

map gi <action>(GotoImplementation)

noremap <leader>cc :edit ~/.ideavimrc<cr>
