" Basic configuration
set scrolloff=10
set linenumber
set showmode
set showcmd
set smartcase
set incsearch
set hlsearch
let g:WhichKey_FontSize = 16

" Clipboard
set clipboard=unnamedplus
xnoremap <leader>p "\"_dP
" Plugins
set surround
set highlightedyank
set easymotion
set notimeout
set which-key

" Keybinds
let mapleader = " "

"" FILE NAVIGATION
map <leader>sf <action>(GotoFile)
map <A-w> <action>(NextTab)
map <A-q> <action>(CloseEditor)
map <A-tab> <action>(PreviousTab)

"" CODE REFACTORING
map <leader>ff <action>(ReformatCode)
map <leader>rr <action>(RenameElement)

"" CODE NAVIGATION
inoremap <A-k> <Up>
inoremap <A-j> <Down>

"" REMAPS
noremap U <C-r>

"" GOTO KEYBINDS
map gi <action>(GotoImplementation)
map gt <action>(GotoTest)
map gd <action>(GotoDeclaration)

"" CODE GENERATION
map <leader>gg <action>(Generate)
map <leader>gc <action>(GenerateConstructor)
map <leader>gt <action>(GenerateTestMethod)
